<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let libro"> {{libro.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef> Autor </th>
    <td mat-cell *matCellDef="let libro"> {{libro.autor}} </td>
  </ng-container>

  <ng-container matColumnDef="editorial">
    <th mat-header-cell *matHeaderCellDef> Editorial </th>
    <td mat-cell *matCellDef="let libro"> {{libro.editorial}} </td>
  </ng-container>

  <ng-container matColumnDef="borrar">
    <th mat-header-cell *matHeaderCellDef> Borra? </th>
    <td mat-cell *matCellDef="let libro">
      <button mat-raised-button color="warn" focusable="false" (click)="borrarVenta(libro.id)">
        Borra?
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="seleccionar">
    <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
    <td mat-cell *matCellDef="let libro">
      <button mat-raised-button color="accent" focusable="false" (click)="seleccionar(libro)">
        Seleccionar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>
<div class="contenedor">
  <input type="hidden" [(ngModel)]="libroselect.id" name="id">
  
  <mat-form-field>
    <input matInput [(ngModel)]="libroselect.titulo" type="text" placeholder="Ingrese titulo del libro">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="libroselect.autor" type="text" placeholder="Ingrese autor del libro">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="libroselect.editorial" type="text" placeholder="Ingrese editorial del libro  ">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>

</div>
<app-pdf></app-pdf>